{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<section>
    <p class="fildar">Immo-Dev / <a href="{{path("home")}}">accueil /</a><span class="span"> connexion</span></p>
    <div class="conteneur_connexion">
        <div class="connexion">
            <p class="parconnexion">Vous tentez d'accéder à un contenu qui nécessite que vous soyez connecté(e).</p>
            <h1><img src="images/fleche_bas.png" alt="fleche bas">Se connecter</h1>
            <form action="{{path("app_login")}}" method="POST" class="bloc_connexion">
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Mot de passe" name="password" required >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {% if is_granted('ROLE_ADMIN') %}
                <input type="hidden" name="_target_path" value="{{ path('espaceagent') }}"/>
                {% else %}
                <input type="hidden" name="_target_path" value="{{ path('espacmembre') }}"/>
                {% endif %}
                <input type="submit" id='submit' value='LOGIN' >
            </form>
        </div>
        <span class="span2"></span>
        <div class="creation_compte">
            <h2>Vous n'avez pas de compte?</h2>
            <button class="switchbutton" type="button">Créer un compte</button>
        </div>
    </div>
    <div id="form_button">
        <div class="conteneur_form">
            <div class="formulaire">
                <form action="{{path("add_user")}}" method="POST">
                    <input type="text" placeholder="Nom" name="nom" id="nom">
                    <input type="text" placeholder="Prénom" name="prenom" id="prenom">
                    <input type="text" placeholder="Adresse" name="adresse" id="adresse">
                    <input type="text" placeholder="Ville" name="ville" id="ville">
                    <input type="text" placeholder="Code Postal" name="cp" id="cp">
                    <input type="number" placeholder="Téléphone" name="tel" id="telephone">
                    <input type="text" placeholder="Email" name="email" id="mail">
                    <input type="password" placeholder="Mot de passe" name="password" required >
                    <input type="submit" value="S'inscrire" id="inscription">
                </form>
            </div>
        </div>
    </div>
    <script src="js/button_showform.js"></script><!-- utilisation de js pour faire apparaître le formulaire -->
</section>
{% endblock %}